<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only"
                  name="close">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ imageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false"
             color="dark"
             fullscreen="true">
  <ion-slides [options]="slideOptions">
    <ion-slide>
      <div class="swiper-zoom-container">
        <img [src]="imageSource"
             height="100vh" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="imageDescription">
  <ion-toolbar color="dark"
               text-center>
    <ion-text>{{ imageDescription }}</ion-text>
  </ion-toolbar>
</ion-footer>