<ion-header>
  <ion-toolbar>
    <ion-title>
      Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail>
    <ion-avatar slot="start"
                (click)="presentViewModal()">
      <img [src]="currentImage || 'assets/images/girl-avatar.png'" />
    </ion-avatar>
    <ion-label>{{user.userName}}</ion-label>
    <ion-badge color="medium"
               (click)="changePicture()"
               slot="end">Change</ion-badge>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>
    <ion-button color="danger"
                (click)="logout()"
                expand="full">
      <ion-label>Logout</ion-label>
    </ion-button>
  </ion-list>


  <!-- <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->

</ion-content>